<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Output</title>
    <style>
        @page{
            size: A4;
            margin: 2.5cm 1.5cm 3.5cm 1.5cm;
            @top-center {
                content: "ONLINE STORE";
            }
        }
    </style>
</head>
<body>

<h2>Manufacturers</h2>

<table class="table table-hover table-striped table-bordered"
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
        {% for manufacturer in manufacturers %}
        <tr>
            <th scope="col">{{forloop.counter}}</th>
            <td scope="col">{{manufacturer.name}}</td>
            <td scope="col">{{manufacturer.location}}</td>
            <td scope="col">{{manufacturer.active}}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
</body>
</html>